html {
	color: #222;
	font-size: 1em;
	line-height: 1.9;
}


hr {
	display: block;
	height: 1px;
	border: 0;
	border-width: 4px;
	border-top: 3px solid;
	
	padding: 0;
	max-width:50px;
	
	
}
audio,
canvas,
iframe,
img,
svg,
video {
	position: middle;
	vertical-align: middle;
}
fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}
textarea {
	resize: vertical;
}

body {
	color: #404040;
	font-family: "Martel Sans", Helvetica, Arial, sans-serif;
	
}
.outer-wrapper {
	margin: auto;
	max-width: 900px;
}
header select {
	margin-right: 0.9em;
	float: right;
}
h1 {
	display: inline-block;
	font-size: 3em;
	font-weight: 700;
	margin: 0;
	padding: 0.3em;
}
.main {
	background: #eee;
	border-radius: 4px;
	padding: 20px;
}

h2 {
	font-weight: 400;
	margin-top: 0;
}

.backgroundfix{
	
	background-attachment: scroll;
	background-attachment:fixed;
	min-height:400px;
	background-image:url('../img/images2.jpg');
	background-position:center;
	background-repeat:no-repeat;
background-size:cover;
opacity:1.75;
position:relative;
max-width:100%
}
.heading2{
	position:absolute;
	top:50%;
	left:40%;
	
	transform:translate(-50%.-50%);
	
}
.display{
	color:#ffff;
	font-size:45px;
	
	
}
nav {
    overflow: hidden;
    width: 100%;
    top: 0;
    margin-bottom: 1px;
    transition: all .2s;
    background: linear-gradient( rgba(0, 0, 0, .18), rgba(0, 0, 0, .18) );
    background-size: cover;
}
.navleft {
    float: left;
    padding: .50rem .60rem;
    color: #eef3f5;
    padding-top: 40px;
}
.logos{
	
	position:relative;
	width:100%;
	padding-right:15px;
	padding-left:15px;
	text-align:center;
	color:#d0461cfa;
}
.heading3{
	margin-top:0;
	color:#d0461cfa;
}
.line4{
	
	    margin-bottom: 1.5rem
}
#divv{
	height:60px;
	width:60px; 
	position:absolute;  
	background-image: url("../img/code4.jpg") 
	
	
}	



	


	